<?xml version="1.0" encoding="UTF-8" ?>


<suite name="TBC" parallel="test" Thread-count="2">

    <test name="android" preserve-order="true">
        <parameter name="platform" value="android"/>
        <classes name="AuthenticationAndroid">
            <class name="test.automation.test.LoginTest"/>
            <class name="test.automation.test.OTPTest"/>
            <class name="test.automation.test.HomeTest"/>
        </classes>
    </test>

    <test name="api">
        <parameter name="platform" value="api"/>
        <classes name="AuthenticationAndroid">
            <class name="test.automation.test.UsersAPITest"/>
        </classes>
    </test>

</suite>